anytree==2.8.0
appdirs==1.4.4
asgiref==3.3.4
asn1crypto==1.4.0
attrs==19.3.0
audio-metadata==0.11.1
Automat==20.2.0
Beaker==1.11.0
beautifulsoup4==4.9.3
bidict==0.21.2
bitstruct==8.11.1
breezy==3.2.0
Brlapi==0.8.2
btrfsutil==5.11.1
CacheControl==0.12.6
cffi==1.14.5
chardet==4.0.0
chrome-gnome-shell==0.0.0
click==7.1.2
colorama==0.4.4
configobj==5.1.0.dev0
constantly==15.1.0
contextlib2==0.6.0.post1
cryptography==3.4.7
dblatex==0.3.12
deluge==2.0.4.dev56
distlib==0.3.1
distro==1.5.0
Django==3.2.2
django-cors-headers==3.7.0
django-default-imagefield==0.5.5
django-filter==2.4.0
djangorestframework==3.12.4
djangorestframework-simplejwt==4.6.0
dlib==19.21.0
dnspython==1.16.0
evdev==1.4.0
fonttools==4.22.1
GeoIP==1.3.2
html5lib==1.1
hyperlink==21.0.0
idna==3.1
incremental==21.3.0
lensfun==0.3.95
libfdt==1.6.0
libvirt-python==7.1.0
lit==0.11.1.dev0
louis==3.17.0
lutris==0.5.8.3
lxml==4.9.1
Mako==1.1.4
mallard-ducktype==1.0.2
Markdown==3.3.4
MarkupSafe==1.1.1
mercurial==5.8
meson==0.58.0
more-itertools==8.7.0
msgpack==1.0.2
mutagen==1.45.1
netsnmp-python==1.0a1
numpy==1.20.2
ordered-set==4.0.2
packaging==20.9
patiencediff==0.2.2
pendulum==2.1.2
pep517==0.10.0
Pillow==8.2.0
ply==3.11
pmbootstrap==1.31.0
pprintpp==0.4.0
progress==1.5
psutil==5.8.0
pwquality==1.4.4
pyasn1==0.4.8
pyasn1-modules==0.2.8
pybind11==2.6.2
pycairo==1.20.0
pycparser==2.20
pycrypto==2.6.1
pycryptodome==3.10.1
pyelftools==0.27
Pygments==2.9.0
PyGObject==3.40.1
PyHamcrest==1.10.0
PyJWT==2.1.0
pyOpenSSL==20.0.1
pyparsing==2.4.7
PySide2==5.15.2
python-dateutil==2.8.1
python-dbusmock==0.23.0
python-libtorrent==1.2.11
python-xlib==0.29
pytz==2021.1
pytzdata==2020.1
pyudev==0.22.0.dev20201112
pyxdg==0.27
PyYAML==5.4.1
rencode==1.0.6
requests==2.25.1
resolvelib==0.5.4
retrying==1.3.3
scipy==1.6.3
scour==0.38.2
service-identity==18.1.0
setproctitle==1.2.2
shiboken2==5.15.2
simplejwt==2.0.1
six==1.15.0
solaar==1.0.6
soupsieve==2.2.1
sqlparse==0.4.1
tbm-utils==2.6.0
team==1.0
toml==0.10.2
Twisted==21.2.0
typing==3.7.4.3
urllib3==1.26.4
validate==5.1.0.dev0
webencodings==0.5.1
wrapt==1.12.1
youtube-dl==2021.4.26
ytmusicapi==0.14.3
zope.interface==5.4.0
